---
- name: setup Tomcat
  hosts: all
  become: true
  tasks:
     - name: instll java on redhat
       yum:
         name: java 
         state: installed
       when: ansible_os_family== "RedHat"

     - name: install java on Debian
       apt:
         name: default-jdk
         state: present
       when: ansible_os_family== "Debian"

     - name: Download Tomcat
       get_url:
         url: https://dlcdn.apache.org/tomcat/tomcat-11/v11.0.13/bin/apache-tomcat-11.0.13.tar.gz
         dest: /opt
     - name: Extract Tomcat
       unarchive:
         src: /opt/apache-tomcat-11.0.13.tar.gz
         dest: /opt
         remote_src: yes

     - name: Set permissions for Tomcat folder
       file:
        path: /opt/apache-tomcat-11.0.13/bin
        mode: '777'
     - name: Execute Tomcat startup script
       command: /opt/apache-tomcat-11.0.13/bin/startup.sh
